<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- doctype 선언문은 반드시 위에 설정한대로 해야함 -->

<configuration>
	<!-- db.properties====================== -->
	<!-- <properties resource="common/config/db.properties" /> -->
	
	<environments default="development">
	<!-- 원래설정
		<environment id="development"> <transactionManager type="JDBC" /> 
		<dataSource type="POOLED"> <property name="driver" value="${driver}" /> <property 
		name="url" value="${url}" /> <property name="username" value="${username}" 
		/> <property name="password" value="${password}" /> </dataSource> </environment> -->
		
		<!-- DBCP 커넥션풀을 JNDI로 룩업하여 사용하기위한 설정 -->
		<environment id="development">
			<transactionManager type="MANAGED" />
			<dataSource type="JNDI">
				<property name="initial_context" value="java:comp/env"/>
				<property name="data_source" value="myoracle/retulix" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- mapper 설정 -->
	<mappers>
		<!-- <mapper resource="org/mybatis/example/BlogMapper.xml" /> -->
		<!-- <mapper resource="admin/persistence/adminMapper.xml" /> -->
	</mappers>
	<!-- ========================= -->
</configuration>