
.container {
	display: grid;
	grid-template-columns: 250px repeat(1, 1fr);
	grid-auto-rows: minmax(100px, auto);
	
	z-index: 9;
}  

.text_head{
	z-index:9;
	color:white;
}


.item1 {
	grid-row-start: 1;
	grid-row-end: 2;
	float: left;
	position: relative;
	z-index: 9;
}

.botom_reviews, .rev {
	display: grid;
	max-width:1000px;
	z-index: 9;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(150px, 150px);
	position: relative;
	grid-column-gap: 40px;
	overflow: hidden;
	
	
}


.poster_img {
	width: 100%;
	height:375.9px;
	
}
.item1>i{
	position: absolute;
	color:white;
	top: 190px;
	left: 120px;
	font-size:30px;
	
}


.imgDiv {
	grid-row-start: 1;
	grid-row-end: 2;
	float: left;
	position: relative;
}

.imgDiv>img {
	position: absolute;
	top: 45%;
	left: 40%;
	height: 60px;
	width: 60px;
}

.imbt1:hover {
	opacity: 0;
	transition: opacity 0.4s;
}

.ma {
	padding:10px;
	width:700px;
	overflow: hidden;
	z-index: 9;
	text-overflow:clip;
}

iframe {
	position: relative;
	z-index: 6;
}

.imbt3,.imbt4 {
	position: absolute;
	top: 0.5%;
	left: 49%;
	height: 25px;
	width: 25px;
	z-index: 9;
}

.imbt3:hover {
	opacity: 0;
	transition: opacity 0.4s;
}
.z_container{
	position : releatve;
	display:flex;
	width:100%;
	height:100%;
}


.backgr { 
	margin-left:auto;
	margin-right:auto;
	margin-top:30px; 
	}


.backgr:after{
   /*  ///////////////////////////////////////////////////////////////////////////이미지 */
    
    background-image: var(--main_bg);
	top:0;
    left:0;
    position:absolute;
    background-size:cover;
    opacity:0.3!important;
	background-repeat:no-repeat;
    content:"";
    width:100%;
    height:100%;
    min-width: 300px;
 	min-height: 100%;
    z-index: 1!important;
    overflow: hidden;
	

}
/* css 변수로 사용 */
:root{
	--main_bg:url('');
}
